@font-face {
	font-family: "Mak";
	src: url("../fonts/Mak-Light.woff2") format("woff2"), url("../fonts/Mak-Light.woff") format("woff");
	font-style: normal;
	font-weight: 300;
	font-display: swap;
}
@font-face {
	font-family: "Mak";
	src: url("../fonts/Mak-Bold.woff2") format("woff2"), url("../fonts/Mak-Bold.woff") format("woff");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

.wrapper {
	min-height: 100%;
	position: relative;
	overflow: hidden;
}

[class*="__container"]{
	max-width: 1080px;
	margin: 0 auto;
}
body{
	font-family: 'Mak';
	font-size: 16px;
	color: #d2fff9;
	background-color: #526d7a;
	min-height: 1500px;
}
.page{
	padding: 20px;
}
.page__title {
	font-weight: 700;
	font-size: 40px;
	text-align: center;
	opacity: 0;
	animation: title 1s ease 1 0.2s forwards;
}
@keyframes title {
	0%{
		transform: translate(0%,-70%);
	}
	100%{
		transform: translate(0%,0%);
		opacity: 1;
	}
}
.page__title:not(:last-child){
	margin-bottom: 20px;
}
.page__subtitle {
	font-weight: 300;
	font-size: 30px;
	text-align: center;
	opacity: 0;
	animation: title 1s ease 1 0.5s forwards;
}
.page__subtitle:not(:last-child){
	margin-bottom: 16px;
}
.page__text {
	opacity: 0;
	animation: title 1s ease 1 1s forwards;
	position: relative;
}
.page__text:not(:last-child){
	margin-bottom: 14px;
}
.dot{
	position: relative;
	animation: dot-none 1ms ease 2s forwards;
}

@keyframes dot-none {
	0%{
		color: #d2fff9;
	}
	100%{
		color: rgba(22, 20, 20, 0);
	}
}
.dot::before{
	content: "";
	position: absolute;
	top: 10px;
	left: 0;
	width: 2px;
	height: 2px;
	border-radius: 50%;
	background-color: #d2fff9;
	animation: dot-traffic 4s linear 1 normal 2s forwards;
}
@keyframes dot-traffic {
	0%{
		transform: translate(0px,0px) scale(1);
	}
	20%{
		transform: translate(0px,100px) scale(5);
	}
	30%{
		transform: translate(-50px,70px) scale(5.2);
	}
	40%{
		transform: translate(-100px,100px) scale(5);
	}
	50%{
		transform: translate(-120px,80px) scale(5.2);
	}
	60%{
		transform: translate(-150px,100px) scale(5);
	}
	70%{
		transform: translate(-170px,90px) scale(5.2);
	}
	80%{
		transform: translate(-190px,100px) scale(5);
	}
	90%{
		transform: translate(-250px,100px) scale(5);
	}
	100%{
		transform: translate(-210px,100px) scale(5);
	}
}

.page__cube {
	width: 20px;
	height: 20px;
	transform-style: preserve-3d;
	animation: rotate-cube 5s linear 5.7s infinite;
	margin: 50px 50px 150px 50px;
	position: relative;
	left: 325px;

}
.cube__face {
	width: 100px;
	height: 100px;
	background-color: rgb(22, 214, 182);
	border: 2px solid #333131;
	position: absolute;
	opacity: 0.75;
	transform: translateZ(50px);
}
.cube__face--top {
	transform: translateY(-50px) rotateX(90deg);
}
.cube__face--bottom {
	transform: translateY(50px) rotateX(-90deg);
}
.cube__face--left {
	transform: translateX(-50px) rotateY(-90deg);
}
.cube__face--right {
	transform: translateX(50px) rotateY(90deg);
}
.cube__face--front {
	transform: translateZ(50px);
}
.cube__face--back {
	transform: translateZ(-50px) rotateY(180deg);
}


@keyframes rotate-cube {
	0%{
		transform: rotate3d(0, 0, 0, 0deg);
	}
	100%{
		transform: rotate3d(1, 1, 0, 360deg);
	}
}
.page__block{
	width: 1000px;
	height: 500px;
	border: 5px solid white;
	margin: 0 auto;
	background-color: #517385;
	position: relative;
	
}
.page__block:hover .block__item{
	opacity: 1;
	visibility: visible;
	transform: scale(1.1);
	background-color: rgba(59, 146, 132, 0.774);;
}
.block__item{
	background-color: #f3f3f3;
	position: absolute;
	top: 0;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	opacity: 0;
	visibility: hidden;
	transform: scale(0.5);
	transition: all 3s ease 1s, background-color 1.5s ease 4s;
}
.block__item:nth-child(1){
	left: 120px;
	top: 50px;
}
.block__item:nth-child(2){
	left:425px;
	top: 300px;
}
.block__item:nth-child(3){
	right: 90px;
	top: 150px;
}

.page__dragonfly {
	position: absolute;
	top: -300px;
	left: 1500px;
	animation: dragonfly-flight 10s linear infinite;
}
.page__dragonfly:hover{
	animation-play-state: paused;
}
.dragonfly__body {
	width: 20px;
	height: 30px;
	background-color: #1f1b1b;
	border-radius: 40px;
	position: relative;
}
.dragonfly__body::after {
	content: "";
	width: 10px;
	height: 100px;
	background-color: #1f1b1b;
	border-radius: 40px;
	position: absolute;
	top: 20px;
	left: 5px;
	transform-origin: top;
	transition: transform 0.3s ease 0s;
}
.dragonfly__wing {
	width: 20px;
	height: 90px;
	background-color: rgba(65, 50, 153, 0.774);
	border-radius: 60% 100%;
	transform-origin: bottom;
	transition: background-color 0.3s ease 0s;
}
.dragonfly__wing--first {
	position: absolute;
	left: 0px;
	top: -60px;
	transform: rotate(-50deg);
	animation-name: flutter-wing-first;
	animation-duration: 200ms;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.dragonfly__wing--second {
	position: absolute;
	left: 0px;
	top: -63px;
	transform: rotate(50deg);
	animation-name: flutter-wing-second;
	animation-duration: 200ms;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.dragonfly__wing--third {
	position: absolute;
	left: 0px;
	top: -55px;
	transform: rotate(-80deg);
	animation-name: flutter-wing-third;
	animation-duration: 200ms;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.dragonfly__wing--fourth {
	position: absolute;
	left: 0px;
	top: -58px;
	transform: rotate(80deg);
	animation-name: flutter-wing-fourth;
	animation-duration: 200ms;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.page__dragonfly:hover .dragonfly__body::after{
	transform: rotate(1deg);
}
.page__dragonfly:hover .dragonfly__wing{
	background-color: rgba(16, 71, 62, 0.774);
}
@keyframes dragonfly-flight {
	0%{
		transform: translate(0px,0px)  rotate(-190deg);
	}
	10%{
		transform: translate(100px,500px) rotate(-190deg);
	}
	20%{
		transform: translate(-100px,650px) rotate(-140deg);
	}
	30%{
		transform: translate(-100px,650px) rotate(-180deg);
	}
	40%{
		transform: translate(-150px,700px) rotate(-180deg);
	}
	50%{
		transform: translate(-200px,1000px) rotate(-170deg);
	}
	60%{
		transform: translate(-300px,1200px) rotate(-170deg);
	}
	65%{
		transform: translate(-300px,1200px) rotate(-10deg);
	}
	70%{
		transform: translate(-500px,650px) rotate(-10deg);
	}
	80%{
		transform: translate(-1000px,700px) rotate(-50deg);
	}
	90%{
		transform: translate(-1200px,500px) rotate(10deg);
	}
	100%{
		transform: translate(-1100px,200px) rotate(10deg);
	}
}
@keyframes flutter-wing-first {
	0%{
		transform: rotate(-50deg);
	}
	100%{
		transform: rotate(-60deg);
	}
}
@keyframes flutter-wing-second {
	0%{
		transform: rotate(50deg);
	}
	100%{
		transform: rotate(60deg);
	}
}
@keyframes flutter-wing-third {
	0%{
		transform: rotate(-80deg);
	}
	100%{
		transform: rotate(-90deg);
	}
}
@keyframes flutter-wing-fourth {
	0%{
		transform: rotate(80deg);
	}
	100%{
		transform: rotate(90deg);
	}
}