@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700;900&display=swap');

body{
	font-family: "Rubik", sans-serif;
	font-display: swap;
	font-size: 18px;
	line-height: 1.2;
}
.wrapper{
	position: relative;
	/* overflow: hidden; */
	min-height: 100%;
}
[class*="__container"]{
	max-width: 1920px;
	margin: 0 auto;
}
.car{
	background: url("../img/doroga.jpg") center / cover no-repeat;
	max-width: 100%;
	height: 950px;
	position: relative;
	overflow: hidden;
}
.car__roof{
	background-image: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 33%, rgba(219,219,219,1) 47%, rgba(254,254,254,1) 100%);
	width: 440px;
	height: 100px;
	border-radius: 49% 51% 6% 94% / 100% 75% 25% 0%;	
	position: absolute;
	top: 500px;
	left: 550px;
}

.car__body {
	background-image: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 33%, rgba(219,219,219,1) 47%, rgba(254,254,254,1) 100%);
	width: 800px;
	height: 150px;
	border-radius: 50% 100% 50% 96% / 91% 55% 45% 20%;
	position: absolute;
	top: 570px;
	left: 400px;
}
.car__body::before {
	content: "";
	background-color: rgb(243, 198, 75);
	width: 35px;
	height: 32px;
	display: inline-block;
	position: absolute;
	top: 55px;
	border-radius: 60px 20px 20px 5px;
}
.car__body:hover::before{
	box-shadow: -20px 0 30px 10px rgba(255, 230, 0, 0.575);
}
.car__body::after {
	content: "";
	background-color: rgb(243, 198, 75);
	width: 35px;
	height: 32px;
	display: inline-block;
	position: absolute;
	top: 49px;
	left: 765px;
	border-radius: 15px 10px 10px 10px;
}

.car__body:hover::after{
	box-shadow: 20px 0 30px 10px rgba(255, 230, 0, 0.575);
}

.car__windshield {
	background-image: linear-gradient(342deg, rgba(3,3,5,1) 30%, rgba(103,114,115,1) 64%, rgba(171,181,182,1) 70%);
	width: 70px;
	height: 50px;
	position: absolute;
	top: 528px;
	left: 915px;
	border-radius: 0% 100% 0% 100% / 21% 90% 8% 30% ;
}

.car__wheel {
	background-image: radial-gradient(ellipse at center, rgba(89,89,89,1) 0%, rgba(89,89,89,1) 12%, rgba(76,76,76,1) 13%, rgba(102,102,102,1) 26%, rgba(71,71,71,1) 35%, rgba(44,44,44,1) 44%, rgba(0,0,0,1) 46%, rgba(17,17,17,1) 61%, rgba(43,43,43,1) 65%, rgba(28,28,28,1) 84%, rgba(19,19,19,1) 100%);
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.car__wheel--first{
	position: absolute;
	top: 650px;
	left: 970px;
}
.car__wheel--second{
	position: absolute;
	top: 650px;
	left: 500px;
}
.car__wheel--first::after{
	content: "";
	width: 200px;
	height: 3px;
	background-image: linear-gradient(to bottom, rgba(168,168,168,1) 0%, rgba(161,161,161,1) 39%, rgba(153,153,153,1) 51%, rgba(186,186,186,1) 100%);
	display: inline-block;
	position: absolute;
	top: -35px;
	left: 20px;
}
.car__wheel--second::before{
	content: "";
	width: 165px;
	height: 3px;
	background-image: linear-gradient(to bottom, rgba(168,168,168,1) 0%, rgba(161,161,161,1) 39%, rgba(153,153,153,1) 51%, rgba(186,186,186,1) 100%);
	display: inline-block;
	position: absolute;
	top: -35px;
	left: -65px;
}
.car__door {
	background-image: linear-gradient(to bottom, rgba(168,168,168,1) 0%, rgba(161,161,161,1) 39%, rgba(153,153,153,1) 51%, rgba(186,186,186,1) 100%);
	width: 140px;
	height: 190px;
}
.car__door--first{
	border-radius: 100px 10px 10px 10px;
	position: absolute;
	top: 510px;
	left: 600px;
}
.car__door--first::after{
	content: "";
	width: 20px;
	height: 5px;
	background-image: linear-gradient(to bottom, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 43%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
	border-radius: 5px;
	position: absolute;
	top: 100px;
	left: 100px;
}
.car__door--second{
	border-radius: 10px 150px 10px 10px;
	position: absolute;
	top: 510px;
	left: 780px;
}
.car__door--second::after{
	content: "";
	width: 20px;
	height: 5px;
	background-image: linear-gradient(to bottom, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 43%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
	border-radius: 5px;
	position: absolute;
	top: 100px;
	left: 15px;
}
.car__window {
	background-image: linear-gradient(342deg, rgba(3,3,5,1) 30%, rgba(103,114,115,1) 64%, rgba(171,181,182,1) 70%);
	width: 130px;
	height: 90px;
}
.car__window--first{
	border-radius: 100px 10px 10px 10px;
	position: absolute;
	top: 510px;
	left: 607px;
}
.car__window--second{
	border-radius: 10px 600px 10px 10px;
	position: absolute;
	top: 510px;
	left: 783px;
}

.car__mirror {
	background-image: linear-gradient(to bottom, rgba(168,168,168,1) 0%, rgba(161,161,161,1) 39%, rgba(153,153,153,1) 51%, rgba(186,186,186,1) 100%);
	border-radius: 46% 54% 14% 86% / 77% 0% 100% 23%;
	width: 50px;
	height: 30px;
	position: absolute;
	top: 580px;
	left: 925px;
}
.header{
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	background-color: #7a956b88;
	z-index: 500;
	min-height: 40px;
}

.menu {
	text-align: center;
}
.menu__item {
	display: inline-block;
	position: relative;
}
.menu__item:not(:last-child){
	margin-right: 50px;
}
.menu__item:hover .sub-menu{
	visibility: visible;
	opacity: 1;
	top: 100%;
}
.menu__link {
	color: antiquewhite;
	display: inline-block;
	padding: 5px 0px;
	font-size: 24px;
	font-weight: 700;
}
.sub-menu {
	background-color: #7a956b;
	padding: 15px;
	position: absolute;
	top: 130%;
	left: 0;
	min-width: 180px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.4s ease 0s;
}

.sub-menu__item:not(:last-child) {
	margin-bottom: 10px;
}
.sub-menu__link {
	font-size: 16px;
	color: #434955;
	position: relative;
}
.sub-menu__link::after{
	content: "";
	display: inline-block;
	height: 2px;
	width: 100%;
	background-color:#d48115bb;
	position: absolute;
	top: 20px;
	left: 0px;
}
.homework{
	background: url("../img/magnus.png") 50% / contain repeat fixed;
	padding-top: 50px;
}
.section {
	width: 810px;
	margin: 0 auto;
}
.section__title {
	background-color: #77608D;
	text-align: center;
	min-height: 100px;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 40px;
	color: aqua;
	position: sticky;
	top: 0;
	padding: 35px 10px 10px 10px;
}
.section__title--bg-purple{
	background-color: purple;
}
.section__title--bg-pink{
	background-color: rgb(236, 73, 182);
}
.section__text {
	background-color: rgb(167, 195, 218);
	text-indent: 20px;
}
.footer{
	position: relative;
}
.footer__link{
	display: inline-block;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 30px;
	position: fixed;
	right: 20px;
	bottom: 10px;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid #77608D;
	z-index: 99;
}
.footer__link::before{
	content: "TOP";
	position: absolute;
	top: 60px;
	left: -28px;
	color: rgb(179, 210, 236);
}
.footer__link:hover{
	border-bottom: 100px solid #472568;
}
.footer__link:hover::before{
	color: rgb(81, 255, 0);
}