@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
body{
	font-family: "Lato";
	color: #424551;
}
[class*="__container"]{
	max-width: 1230px;
	margin: 0 auto;
}
.about-the-course__text{
	margin-right: 630px;
	margin-bottom: 180px;
}
.page__title{
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
	color: #1E212C;
}
h1{
	margin: 120px 0 40px;
}
.page__text{
	font-weight: 400;
	font-size: 16px;
	line-height: 160%;

}
.about-the-course__container .page__text:not(:last-child){
	margin-bottom: 48px;
}
h3{
	font-weight: 700;
	font-size: 28px;
	line-height: 150%;
	color: #1E212C;
	margin-bottom: 24px;
}
ul.page__text li{
	padding-left: 32px;
	background: url("../img/icons/check.svg") 0 5px / 16px no-repeat;
}
li:not(:last-child){
	margin-bottom: 4px;
}
.page__subtitle{
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	color: #1E212C;
	margin-bottom: 8px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.curator__name *:first-child{
	margin-bottom: 16px;
}
.curator__name p{
	font-weight: 400;
	font-size: 20px;
	line-height: 150%;
	color: #787A80;
}
.curator__name{
	margin-bottom: 32px;
}
.curator__list{
	font-weight: 700;
	font-size: 16px;
	margin-bottom: 32px;
	min-height: 26px;
	line-height: 1.6;
}
/* Сделала каждому li отдельный класс, чтоб при изменении информации можно было и корректно изменить иконку (бэкграунд) */
.curator__list-rate{
	padding-left: 24px;
	background: url("../img/icons/star.svg") 0 5px / 16px no-repeat;
}
.curator__list-courses{
	padding-left: 24px;
	background: url("../img/icons/play.svg") 0 5px / 16px no-repeat;
}
.curator__list-students{
	padding-left: 24px;
	background: url("../img/icons/profile.svg") 0 5px / 16px no-repeat;
}
/* Через бэкграунд иконки становяться как надо, а через псевдоэлементы не получается их выставить так как в макете */
/* .curator__list li:first-child::before{
	background: url("../img/icons/star.svg") 0 0 no-repeat;
	content: "";
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-right: 8px;
}
.curator__list li:nth-child(2)::before{
	background: url("../img/icons/play.svg") 0 0 no-repeat;
	content: "";
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-right: 8px;
}
.curator__list li:last-child::before{
	background: url("../img/icons/profile.svg") 0 0 no-repeat;
	content: "";
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-right: 8px;
} */
.curator__container *:last-child{
	margin-bottom: 40px;
}
/* game */
.game {
	margin-top: 40px;
	width: 1080px;
	height: 600px;
	background-color: #7a956b;
	margin-bottom: 60px;
}
.game-image{
	margin-top: -660px;
	display: none;
}
.game-image img{
	max-width: 1080px;
}
[class*="__button"]{
	width: 80px;
	height: 50px;
	background: #77608D;
	font-weight: 700;
	text-align: center;
	color: #fff;

}
.start__button {
	margin: 0 500px;
	line-height: 50px;
	box-shadow: 5px 5px 5px 2px black;	
}

.block-1 {
	width: 80px;
	height: 150px;
	background-color: rgb(81, 206, 50);
	margin-top: 0px;
	line-height: 150px;
	opacity: 0;
	visibility: hidden;
}
.start__button:hover .block-1{
	opacity: 1;
	visibility: visible;
}
.block-2 {
	width: 450px;
	height: 40px;
	background-color: rgb(173, 68, 68);
	margin-left: 80px;
	position: absolute;
	margin-top: 110px;
	opacity: 0;
	visibility: hidden;
}
.block-1:hover .block-2{
	opacity: 1;
	visibility: visible;
}
.block-3 {
	width: 50px;
	height: 300px;
	background-color: rgb(68, 152, 173);
	margin-left: 400px;
	margin-top: 40px;
	opacity: 0;
	visibility: hidden;
}
.block-2:hover .block-3{
	opacity: 1;
	visibility: visible;
}
.block-4 {
	width: 700px;
	height: 28px;
	background-color: rgb(173, 68, 126);
	margin-left: -650px;
	position: absolute;
	margin-top: 300px;
	opacity: 0;
	visibility: hidden;
}
.block-3:hover .block-4{
	opacity: 1;
	visibility: visible;
}
.block-5 {
	width: 30px;
	height: 200px;
	background-color: rgb(224, 188, 24);
	margin-left: 0px;
	margin-top: -200px;
	opacity: 0;
	visibility: hidden;
}
.block-4:hover .block-5{
	opacity: 1;
	visibility: visible;
}
.block-6 {
	width: 220px;
	height: 30px;
	background-color: rgb(32, 181, 207);
	margin-left: -220px;
	opacity: 0;
	visibility: hidden;
}
.block-5:hover .block-6{
	opacity: 1;
	visibility: visible;
}
.finish__button {
	margin-left: -80px;
	box-shadow: 5px 5px 5px 2px black;	
	line-height: 50px;
	opacity: 0;
	visibility: hidden;
}
.block-6:hover .finish__button{
	opacity: 1;
	visibility: visible;
}
/* не понимаю почему блок старт и блок 1 какие-то не такие, когда появляется картинка финиша, то они оказываются под картинкой, а все остальные блоки всерху картинки */
#game-image:target{
	display: block;
}
.link{
	display: inline-block;
	margin-bottom: 20px;
	text-decoration: underline;
}

/* mini-game  (попытка номер два) */
.mini-game{
	width: 600px;
	height: 400px;
	border: 5px solid black;
	border-radius: 20px;
	margin: 0 auto;
	background: linear-gradient(99deg,#eed73d 0%, #0fc6d7 80%);
	margin-bottom: 40px;
}
.part-1 {
	width: 50px;
	height: 50px;
	background-color: rgb(233, 210, 3);
	line-height: 50px;
	font-weight: 700;
	border: 1px solid orange;
	border-radius: 5px;
	margin-left: 100px;
}
.part-2 {
	width: 30px;
	height: 250px;
	background-color: rgb(230, 87, 87);
	margin-left: 110px;
	visibility: hidden;
}
.part-1:hover + .part-2,
.part-2:hover{
	visibility: visible;
}
.part-3 {
	width: 300px;
	height: 32px;
	background-color: rgb(60, 221, 213);
	margin-left: 110px;
	visibility: hidden;
}
.part-2:hover + .part-3,
.part-3:hover{
	visibility: visible;
}
.part-4 {
	width: 50px;
	height: 180px;
	background-color: rgb(123, 82, 219);
	margin-left: 410px;
	margin-top: -180px;
	visibility: hidden;
}
.part-3:hover + .part-4,
.part-4:hover{
	visibility: visible;
}
.part-5{
	width: 80px;
	height: 30px;
	background-color: rgb(128, 236, 65);
	margin-left: 460px;
	margin-top: -180px;
	visibility: hidden;
}
.part-4:hover + .part-5,
.part-5:hover{
	visibility: visible;
}
.part-6 {
	width: 50px;
	height: 50px;
	background-color: rgb(233, 210, 3);
	line-height: 50px;
	font-weight: 700;
	border: 1px solid orange;
	border-radius: 5px;
	margin-left: 540px;
	margin-top: -40px;
}
img.ghost{
width: 30px;
}
.active-image{
	max-width: 100%;
	display: none;
}

.ghost:active ~ .active-image{
	display: inline-block;
}

.link-1{
	color: orangered;

}
.link-2:visited{
	color: #77608D;
}
.link:hover,
#bl .link:hover{
	color: #1ad1f1;
	text-decoration: none;
}
.link-2{
	color: #c41930;
}

.section{
	background-color: #77608D;
	color:#26c9a0
}
.section:active{
	background-color: #7A956B;
	
}
.section::before{
	content: "";
	background: url("../img/icons/check.svg") 0 0 no-repeat;
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-right: 10px;
}
.section::after{
	content: ":)";
}
#bl{
	display: none;
	background-color: rgb(218, 156, 156);
}
#bl:target{
	display: block;
}
#bl .link{
	color: #6200e2;
}
a:focus,
.active:focus{
	outline: 1px solid rgb(229, 255, 0);
}
ol li:first-child{
color: #6200e2;
}
li ul li:first-of-type{
	color: rgb(230, 18, 18);
}
ol li:last-child{
	color: #7A956B;
	text-decoration: line-through;
}
.main-list li:last-of-type:not(:nth-child(5)){
	color: #2f8f12;
}
.main-list{
	margin-bottom: 50px;
}
ol{
	margin-left: 30px;
	margin-bottom: 10px;
	counter-reset: item;
}
ol li{
	margin-bottom: 5px;
	display: none;
}
ul.main-list li:hover ol li{
	display: block;
}
ol li:first-child{
	margin-top: 5px;
}
ol li::before{
	counter-increment: item;
	content: counter(item)") ";
	color: #0a360a;
	display: inline-block;
	margin-right: 5px;
}

ul.main-list li{
	margin-bottom: 10px;
}
ul.main-list li:not(ol li):nth-child(odd){
	background-color: #f0aade;
}
.main-list li:not(ol li)::before{
	content: "*";
	color: #cf3c28;
	display: inline-block;
	margin-right: 5px;
}
li ul li:nth-child(even){
	background-color: rgb(134, 214, 194);
}
li ul li{
	display: none;
	margin-left: 15px;
}
ul li:hover li:not(ol li){
	display: block;
}

.text p:not(:last-child),
.text-2 *:not(:last-child){
	margin-bottom: 15px;
}
.text p:last-child{
	margin-bottom: 30px;
}
.text p:first-child{
	color: blue;
	text-transform: uppercase;
}
.text p:nth-child(even){
	background-color: #acb656;	
}
.text-2{
	background-color: #668fb1;
	padding: 15px;
	color: #fff;
	line-height: 130%;
	margin-bottom: 30px;
}
.text-2 p:first-of-type{
	color: rgb(112, 15, 15);
}
.text p:nth-child(3){
	color: rgb(116, 224, 26);
}
/* .text-2 p:nth-child(3) - должно работать для третьего р из всех р (не брать во внимание див), но работает для второго р. Почему-то считает див как первый р  */
.text-2 p:nth-child(3){
	text-decoration: underline;
	color: black;
}
.text-2 *:nth-child(5){
	color: #6200e2;
}
